* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #919191;
    font-size: 1.6rem;
}

.bottom {
    width: 100%;
    background-color: #2f3130;
    padding: 0 10px;
    box-sizing: border-box;
    color: #919191;
}

.bottom .footer .client p {
    font-size: 1.4rem;
}

.bottom .top {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(89, 89, 89);
}

.bottom .footer {
    padding: 2rem;
}

.bottom .footer .client {
    display: flex;
    justify-content: center;
}

.bottom .footer .client>.left,
.bottom .footer .client>.right {
    display: flex;
}

.bottom .footer .client>.left {
    margin-right: 9rem;
}

.bottom .footer .client img {
    width: 2.5rem;
    height: 2.9rem;
    margin-right: 1rem;
}

.bottom .footer .company {
    margin-top: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
}