* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #ff8a00;
    justify-content: space-between;

}

.left>img {
    width: 15rem;
    /* height: 3rem; */
    margin-top: .5rem;
    margin-left: 4rem;
}

.right>img {
    width: 30px;
    margin-top: 1rem;
    margin-right: 2rem;
}