/* 清除默认边距 */
* {
  margin: 0;
  padding: 0;
}

/* 去除ul/li默认小黑点 */
ul li {
  list-style: none;
}

/* 去除a链接下划线、默认颜色 */
a {
  text-decoration: none;
  color: #4c4a4a;
}

/* 清除input框默认样式 */
input {
  outline: none;
}

body {
  background-color: #F5F5F5;
}

.photo {
  height: 21rem;
  background: url(../image/my/bg1.png);
  padding-top: 1.5rem;
  box-sizing: border-box;
}

.photo .tou {
  display: flex;
  width: 35rem;
  justify-content: flex-end;
  align-items: center;
}

.photo .tou a:nth-of-type(1) {
  display: block;
  padding-top: 2.5rem;
  background: url(../image/my/urse.png) no-repeat center 0;
  background-size: 1.8rem;
  margin-right: 2rem;
  color: white;
}

.photo .tou a:nth-of-type(2) {
  display: block;
  padding-top: 2.5rem;
  background: url(../image/my/down.png) no-repeat center 0;
  background-size: 1.8rem;
  color: white;
}

.photo .xia {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.photo .xia img {
  width: 5.4rem;
  height: 5.4rem;
}

.photo .xia a {
  margin-top: 2rem;
  display: inline-block;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.6rem 2rem;
}

.content {
  padding: 0 3rem;
  box-sizing: border-box;
  background: #ffffff;
}

.content ul {
  display: flex;
  flex-flow: column;
}

.content ul li {
  border-bottom: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
}

.content ul li img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.content ul li a {
  display: inline-block;
  width: 29.5rem;
  height: 5rem;
  line-height: 5rem;
  background: url(../image/my/right.png) no-repeat right;
  background-size: 0.8rem;
  font-size: 1.4rem;
}